<launch>
    <include file="$(find run_task)/launch/assign_task.launch" /> 
    <!-- 识别模块 -->
    <include file="$(find run_task)/launch/camera.launch" /> 
    <!-- 控制倒车模块 -->
    <include file="$(find run_task)/launch/control_cmd.launch" /> 

</launch>

<!-- source ./devel/setup.bash -->
<!-- roscore -->
<!-- roslaunch run_task arm.launch  -->
<!-- roslaunch run_task camera.launch -->
<!-- roslaunch run_task assign_tasks.launch  -->
<!-- roslaunch run_task control_cmd.launch  -->
<!-- roslaunch run_task mercury_navigation.launch  -->


<!-- rostopic echo /left_arm_move_topic -->
<!-- rostopic echo /right_arm_move_topic -->

