<launch>
    <!-- 导航节点 -->
    <!-- 包含了导航、地盘、RVIZ、激光LiDAR -->
    <include file="$(find run_task)/launch/mercury_navigation.launch" /> 

    <!-- 自己的节点 -->
    <!-- 机械臂 -->
    <include file="$(find run_task)/launch/arm.launch" /> 
    <!-- 识别模块 -->
    <include file="$(find run_task)/launch/camera.launch" /> 
    <!-- 安排模块 -->
    <include file="$(find run_task)/launch/assign_tasks.launch" /> 
    <!-- 控制倒车模块 -->
    <include file="$(find run_task)/launch/control_cmd.launch" /> 
    <!-- 语音识别模块 -->
    <include file="$(find run_task)/launch/asr.launch" /> 

</launch> 