<launch>
    <!-- <node pkg="test_mercury_navigation" type="test_mercury_navigation.py" name="test_mercury_navigation" output="screen"> -->
        <!-- <rosparam file="$(find run_task)/config/robot_pose_anchor_c111.yaml" command="load"/> -->
    <!-- </node> -->

    <node pkg="run_task" type="test_mercury_navigation.py" name="test_mercury_navigation" output="screen">
        <rosparam file="$(find run_task)/config/robot_pose_anchor_c111.yaml" command="load"/>
    </node>

    <node pkg="run_task" type="assign_tasks.py" name="assign_tasks" output="screen">
        <!-- <rosparam file="$(find run_task)/config/robot_pose_anchor_c111.yaml" command="load"/> -->
    </node>

</launch>